
<div *ngIf="hero">
  <h2>{{hero.name}}</h2>
  <!-- <div>
    Name :
    <input [(ngModel)]="hero.name" placeholder="Hero's name">
  </div> -->
  <!-- <mat-form-field appearance="fill">
    <mat-label>Name :</mat-label>
    <input matInput [(ngModel)]="hero.name" placeholder="Hero's name">
  </mat-form-field> -->
  <mat-form-field appearance="legacy">
    <mat-label>Name :</mat-label>
    <input matInput [(ngModel)]="hero.name" placeholder="Hero's name">
  </mat-form-field>
  <div>
    <!-- FirstName :
    <input [(ngModel)]="hero.firstName" placeholder="Hero's firstname "> -->
    <mat-form-field appearance="legacy">
      <mat-label>FirstName :</mat-label>
      <input matInput [(ngModel)]="hero.firstName" placeholder="Hero's firstname">
    </mat-form-field>
  </div>
  <div>
    <!-- LastName :
    <input [(ngModel)]="hero.lastName" placeholder="Hero's lastname"> -->
    <mat-form-field appearance="legacy">
      <mat-label>LastName :</mat-label>
      <input matInput [(ngModel)]="hero.lastName" placeholder="Hero's lastname">
    </mat-form-field>
  </div>
  <div>
    <!-- Place :
    <input [(ngModel)]="hero.place" placeholder="Hero's location"> -->
    <mat-form-field appearance="legacy">
      <mat-label>Place :</mat-label>
      <input matInput [(ngModel)]="hero.place" placeholder="Hero's location">
    </mat-form-field>
  </div>
  <button mat-stroked-button color="primary" (click)="UpdateHero(hero)" *ngIf="hero.id"> Save </button>
  <button mat-stroked-button color="warn"(click)="DeleteHero(hero)" *ngIf="hero.id"> Delete </button>
  <button mat-stroked-button color="primary" (click)="CreateHero(hero)" *ngIf="!hero.id"> Create </button>
</div>
